<div class='mt-4'>
  <form method='GET' action=''>
    <div class='form-group'>
      <label for='exampleInputEmail1'>Từ khóa</label>
      <input
        name='q'
        class='form-control'
        id='exampleInputEmail1'
        aria-describedby='emailHelp'
        placeholder='nhập từ khóa'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
  </form>
</div>